


.contact {
  padding: 20px;
  text-align: center;
  color: white; /* Set the text color to white */
  margin-top: 30px; /* Reduces the space above the section */
  font-family: 'Georgia', 'Times New Roman', Times, serif; /* Specify the font family */
}


.contact h3 {
  color: #f4f6f8;
  font-family: 'Playfair Display', 'Cinzel', serif; /* Consistent with the header */
  font-size: 20px /* Scale based on viewport size */
}

.contact p {
  color: rgb(219, 197, 197);
  font-size: 16px; /* Slightly smaller scale than the header */
  max-width: 800px;
  margin: 30px auto;
}